
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Source+Code+Pro:wght@300&display=swap');

:root {
  --black: #323031;
  --dark-blue: #084C61;
  --blue: #177E89;
  --red: #DB3A34;
  --yellow: #FFC857;
}


.App {
  background-color: var(--black);
  text-align: center;
  display:grid;
  place-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
}

header{
  position: absolute;
  left: 0;
}

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
  font-size: 0.5em;
  font-weight: bold;
}


ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--black);
}
@media screen and (max-width: 600px) {
  ul {flex-direction: column;}
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: var(--dark-blue);
}

.heading-wrapper {
  display: flex;
  margin: auto;
  height: min-content;
  width: fit-content;
}

.ticker {
  margin: auto;
  margin-right: 0.5em;
  font-family: 'Source Code Pro', monospace;
}

.heading {
  margin: auto;
  font-family: 'Source Code Pro', monospace;
  position: relative;
}


.heading::after,
.heading::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .heading::after {
  content: "____________";
  transform: translateY(0.2em);
} */

.heading::before {
  background: var(--black);
  z-index: 1;
  border-left: 0.1em solid white;
  animation-name: shrink, bar;
  animation-duration: 3s, 0.9s;
  animation-timing-function: steps(12), steps(2);
  animation-delay: 2s, 0s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
}

@keyframes shrink {
  0% {left:0}
  100% {left:100%}
}

@keyframes bar {
  0% {border-left-width: 0;}
  100% {border-left-width: 0.1em;}
}

section {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 90vh;
  padding: 50px 20vw;
  z-index: 1;
}

.white {
  background: white;
  color: var(--black);
}

.black {
  color:white;
  background: var(--black);
}

@media screen and (max-width: 600px) {
  body {margin-top: 10vh;}
}

.dark-blue {
  color:white;
  background: var(--dark-blue);
}

.blue {
  color:white;
  background: var(--blue);
}

.red {
  color:white;
  background: var(--red);
}

.yellow {
  color:var(--black);
  background: var(--yellow);
}




.spacer{
  position:relative;
  aspect-ratio: 900/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.black-yellow {
  background-image: url('./black-yellow.svg');
}

.yellow-blue{
  background-image: url('./yellow-blue.svg');
}

.blue-red{
  background-image: url('./blue-red.svg');
}

.red-dark-blue{
  background-image: url('./red-dark-blue.svg');
}

.black-dark-blue {
  background-image: url('./black-dark-blue.svg');
}

.dark-blue-yellow {
  background-image: url('./dark-blue-yellow.svg');
}

.dark-blue-white {
  background-image: url('./dark-blue-white.svg');
}

.cubey{
  position:absolute;
  right: 150px;
  bottom: 150px;

  
}
