
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
  --black: #323031;
  --dark-blue: #084C61;
  --blue: #177E89;
  --red: #DB3A34;
  --yellow: #FFC857;
}


.App {
  background-color: var(--black);
  text-align: center;
  display:grid;
  place-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
}

header{
  position: absolute;
  left: 0;
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 5vw;
  top: 0;
  z-index: 10;
  font-size: 0.5em;
  font-weight: bold;
}


ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--black);
}
@media screen and (max-width: 600px) {
  ul {flex-direction: column;}
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: var(--dark-blue);
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  padding: 50px 20vw;
  z-index: 1;
}

.white {
  background: white;
  color: var(--black);
}

.black {
  color:white;
  background: var(--black);
}

@media screen and (max-width: 600px) {
  body {margin-top: 10vh;}
}

.dark-blue {
  color:white;
  background: var(--dark-blue);
}

.blue {
  color:white;
  background: var(--blue);
}

.red {
  color:white;
  background: var(--red);
}

.yellow {
  color:var(--black);
  background: var(--yellow);
}




.spacer{
  position:relative;
  aspect-ratio: 900/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.black-yellow {
  background-image: url('./black-yellow.svg');
}

.yellow-blue{
  background-image: url('./yellow-blue.svg');
}

.blue-red{
  background-image: url('./blue-red.svg');
}

.red-dark-blue{
  background-image: url('./red-dark-blue.svg');
}

.black-dark-blue {
  background-image: url('./black-dark-blue.svg');
}

.dark-blue-yellow {
  background-image: url('./dark-blue-yellow.svg');
}



.cubey{
  position:absolute;
  right: 150px;
  bottom: 150px;

  
}
